[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
readtime = "*"
arrow = "*"
django-redis-cache = "*"
django-ratelimit = "*"
django-recaptcha = "*"
humanize = "*"

[dev-packages]

[requires]
python_version = "3.9"
