{% extends '_layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

<!-- content -->
{% block content %}

<section>
	<section class="container mtt-7">
				<section class="row">
				<!-- Left Content row -->
					<section class="col-lg-12 col-padding-lr-zero" id="content-section-margin">
						<section class="row">
							<section class="col-lg-4" style="background:#f9f9f9">
								{% for board in board_qs %}
									<p class="board-list-parag"><span style="background:{{ board.color }}"></span><a href="#">{{ board.title }}</a></p>
								{% endfor %}
							</section>
							<section class="col-lg-8 col-md-12 col-sm-12">
									<form action="{% url 'search:search-boards' %}" method="GET" class="board-search-fm-cls">
										{% csrf_token %}
										<input type="search" name="search" value="" 
										placeholder="Search for boards" autocomplete="off" autofocus="true" class="search-input">
									</form>

									<!-- List Few Boards -->
									
							</section>
						</section>
					</section>
				</section>
	</section>
</section>
{% endblock %}
